<div class="contenedor">

  <div class="card" *ngFor="let poke of pokemones">

    <img 
      [src]="poke.sprites.front_default" 
      alt="pokemon">

    <h2 class="nombre">
      {{ poke.name | uppercase }}
    </h2>

    <p><strong>Tipo:</strong> {{ poke.types[0].type.name }}</p>

    <p><strong>Peso:</strong> {{ poke.weight }}</p>

    <p><strong>Altura:</strong> {{ poke.height }}</p>

    <p><strong>Habilidad:</strong> 
      {{ poke.abilities[0].ability.name }}
    </p>

  </div>

</div>